@use "sass:math";

$rootUnit: 16px !default;

@function removeUnit($value) {
  @return math.div($value, $value * 0 + 1);
}

@function rem($value, $base: $rootUnit) {
  $removeValue: removeUnit($value);
  $removeBase: removeUnit($base);
  @return math.div($removeValue, $removeBase) * 1rem;
}