@use "./../utils/" as *;


.cart{
  padding-top: rem(80px);
  @include textStyle(21.328px, 600, $black);
  line-height: 150%;
  margin-bottom: rem(44px);
  text-align: center;
}

.cartWrapper{
  @include flexbox($justify: center);
  margin: 0 auto; 
  width: rem(1050px);
  gap: 24px;
}

// 장바구니 아이템 선택 영역



// 배송지 영역
.craditWrapper{
  width: rem(284px);
}

.cradit{
  background: $gray-50;
  border: 1px solid $gray-100;
}

.delivery__info{
  @include flexbox($direction: column);
  gap: 12px;
  position: relative;
  @include padding(20px);
  border-bottom: 1px solid $gray-100;
}
.order-button{
  width: rem(284px);
  height: rem(44px);
  border-radius: 4px;
  border: 0;
  padding: 0;
  background: $primary-color;
  @include textStyle(16px, 600, $white);
  cursor: pointer;
  @include marginY(16px)
}

.delivery__location{
  @include flexbox($items: center);
}

.delivery__location::before{
  display: inline-block;
  content: '';
  background-image: url("/assets/cart/Location.svg");
  width: rem(36px);
  height: rem(36px);
}

.delivery__location,
.delivery__address{
  @include textStyle(16px, 600, $black);
  line-height: 150%;
}

.delivery__chage{
  border: 0;
  padding: 0;
  width: rem(244px);
  height: rem(44px);
  border-radius: 4px;
  border: 1px solid $primary-color;
  background: $white;
  @include textStyle(16px, 600, $primary-color);
  line-height: 150%;
}

.delivery__type{
  @include textStyle(12.003px, 600, $primary-color);
  line-height: 150%;
}

.payment__info{
  @include paddingX(20px);
  @include paddingY(20px);
  @include flexbox($direction: column);
  border-top: 1px solid $gray-100;
}

.payment__info dl{
  @include flexbox($justify: space-between, $items: center);
  padding-bottom: 24px;
}

.pay__info::after{
  content: '원';
  margin-left: 4px;
  @include textStyle(16px, 600, $content-color);
  line-height: 150%;
}

.pay__list,
.pay__info{
  @include textStyle(16px, normal, $content-color);
  line-height: 160%;
}

.payment__total{
  @include flexbox($justify: space-between, $items: center);
}

.payment__total span{
  @include textStyle(28.43px, 700, $black);
  line-height: 140%;
}

.payment__total span::after{
  content: '원';
  margin-left: 4px;
  @include textStyle(16px, 600, $black);
  line-height: 150%;
}

.payment__price{
  @include textStyle(16px, normal, $content-color);
  line-height: 160%;
}

.membership__point{
  @include textStyle(12.003px, 600, $content-color);
  line-height: 150%;
  text-align: end;
}

.membership__point span{
  @include paddingX(8px);
  border-radius: 1px;
  background: $accent-color;
  @include textStyle(12.003px, 600, $white);
  line-height: 150%;
  margin-right: 8px;
  align-items: end;
}

.couponInfo{
  @include flexbox($direction: column); 
}

.couponInfo__list{
  @include textStyle(12.003px, 600, $gray-400);
  line-height: 150%;
}









//장바구니 아이템 선택 영역