@use "./../utils/" as *;

.product {
  &Wrapper {
    width: rem(1050px);
    @include autoMarginX;
    position: relative;
  }

  &__main {
    margin-top: rem(-50px);
    margin-left: rem(250px);
  }

  &__filter {
    width: rem(220px);
    position: absolute;
  }

  &__best {
    font-size: rem(22px);
    text-align: center;
    @include paddingY(48px);
  }

  &__top {
    margin-top: rem(48px);
    margin-bottom: rem(20px);
    @include wh(800px, 24px);
    @include flexbox($justify: space-between, $items: center);
    @include autoMarginX;
  }

  &__total,
  &__align {
    font-weight: 600;
  }

  &__option {
    @include flexbox($justify: flex-end, $items: center);
  }

  &__list {
    @include flexbox;
  }

  &__align {
    color: $gray-300;
  }

  &__focus {
    color: $primary-color;
  }

  &__align:hover {
    color: $primary-color;
  }

  &__alignHelp {
    height: rem(14px);
  }

  &__alignDeco {
    color: $gray-300;
    font-weight: 400;
  }
}

.filter {
  display: inline-block;
  @include flexbox($justify: space-between);
  @include paddingY(14px);
  width: rem(220px);
  border: none;
  border-bottom: 1px solid $gray-100;
  background: transparent;

  &__title {
    font-weight: 600;
  }

  &__reset {
    border: none;
    background: transparent;
    font-size: rem(10px);
    color: $gray-300;
  }

  &__mark::after {
    content: "1";
    padding-left: rem(8px);
    font-size: rem(10px);
    color: $gray-300;
  }

  &__fold {
    padding-right: rem(4px);
  }

  &__checkbox {
    @include pos;
    appearance: none;
  }

  &__label {
    display: block;
    padding-top: rem(8px);
    padding-bottom: rem(12px);
  }

  &__label &__brand {
    display: block;
    background: url(./../../assets/product-list/ic-unchecked.svg) no-repeat 0 0 / 24px;
    height: rem(25px);
    padding-left: rem(30px);
    line-height: rem(25px);
  }

  &__checkbox:checked+&__label &__brand {
    background-image: url(/assets/product-list/ic-checked.svg);
  }

  &__brand::after {
    content: "1";
    padding-left: 8px;
    font-size: rem(10px);
    color: $gray-300;
  }

  &__brandPlus {    
    width: rem(220px);
    border: none;
    background: transparent;
    font-size: rem(12px);
    color: $gray-300;
    font-weight: 600;
    padding-top: rem(8px);
    padding-bottom: rem(12px);
    text-align: center;
  }

  &__list {
    width: rem(220px);
  }
}

.best {
  &__group {
    @include flexbox($justify: center);
    width: rem(800px);
  }

  &__item {
    @include paddingX(16px);
    position: relative;
  }

  &__img {
    @include wh(249px, 320px);
  }

  &__caption {
    height: rem(180px);
    margin-top: rem(4px);
    padding-top: rem(30px);
    position: relative;
  }

  &__name {
    font-size: rem(16px);
    margin-bottom: rem(8px);
  }

  &__price {
    display: inline-block;
    font-size: rem(20px);
    font-weight: 600;
  }

  &__regularPrice {
    color: $gray-400;
    font-size: rem(12px);
    position: absolute;
    bottom: rem(25px);
  }

  &__discountPercent {
    display: inline-flex;
    @include textStyle(20px, 600, $accent-color);
    padding-right: rem(8px);
  }

  &__discountPrice {
    text-decoration: none;
  }

  &__more {
    @include wh(60px, 60px);
    @include posRightTop(-15px, 129px);
    border: none;
    background: transparent url(/assets/main/ic-product-swiper-arrow.svg) no-repeat;
  }

  &__delivery,
  &__info {
    @include marginY(8px);
    color: $gray-400;
    font-size: rem(12px);
  }

  &__delivery {
    font-weight: 600;
    position: absolute;
    top: 0;
  }

  &__limit,
  &__only {
    display: inline-block;
    @include textStyle(12px, 600, $content-color);
    @include paddingX(6px);
    @include paddingY(6px);
    border-radius: 4px;
    background: $gray-100;
  }

  &__only {
    color: $primary-color;
  }

  &__deliveryDetergent,
  &__infoDetergent {
    @include textStyle(12px, 400, $gray-400);
    @include marginY(8px);
  }

  &__deliveryDetergent {
    font-weight: 600;
    position: absolute;
    top: 0;
  }

  &__limitDetergent,
  &__onlyDetergent {
    @include paddingX(6px);
    @include paddingY(6px);
    margin-top: rem(6px);
    display: inline-block;
    font-size: rem(12px);
    font-weight: 600;
    background: $gray-100;
    border-radius: 4px;
  }

  &__onlyDetergent {
    color: $primary-color;
  }
}

.accentCart_1 {
  @include wh(45px, 45px);
  margin-left: rem(200px);
  position: absolute;
  top: rem(410px);
  border: none;
  background: transparent url(./../../assets/main/ic-add-cart.svg);
}

.accentCart_2 {
  @include wh(45px, 45px);
  margin-left: rem(200px);
  position: absolute;
  top: rem(920px);
  border: none;
  background: transparent url(./../../assets/main/ic-add-cart.svg);
}

.accentCart_3 {
  @include wh(45px, 45px);
  margin-left: rem(200px);
  position: absolute;
  bottom: rem(355px);
  border: none;
  background: transparent url(./../../assets/main/ic-add-cart.svg);
}

.page {
  @include flexbox($justify: center);
  width: rem(800px);

  &__number {
    @include paddingX(10px);
    height: rem(32px);
    margin-top: rem(36px);
    margin-bottom: rem(80px);
    border: 1px solid $gray-100;
    font-size: rem(12px);
    text-align: center;
    line-height: rem(30px);
  }
}