@use "./../utils/" as *;


// 제품 디테일 전체 영역
.productWrapper{
  width: rem(1050px);
  padding-top: 40px;
  padding-bottom: 40px;
  @include flexbox($justify: center);
  margin: 0 auto;
 
}

.productArea{
  position: relative;
}

// 상품 정보
.productDetail{
  @include flexbox($justify: center);
}

.prod__img img{
  width: rem(400px);
  height: rem(514px);
  margin-right: 85px;
}

.prod__buy{
  @include flexbox($direction: column);
  gap: 16px;
  padding-bottom: 20px;
}


.prod__delivery{
  @include textStyle(21.328px, 700, $gray-500);
  line-height: 140%;
}

.head__title,
.prod__price{
  @include textStyle(28.43px, 600, $content-color);
  line-height: 150%;
}

.prod-header__title p{
  @include textStyle(16px, 400, $gray-400);  
  line-height: 160%;  
}

.prod__price span{
  @include textStyle(16px, 700, $content-color);
  padding-left: rem(4px);
  vertical-align: middle;
}

.prod__benefit{
  @include textStyle(16px, 600, $content-color);
}

// 상품 구매 정보
.itemDescription{
  width: rem(560px);
  border-top: 1px solid $gray-100;
  border-bottom: 1px solid $gray-100;
}

.itemDescription dl{
  border-bottom: 1px solid $gray-100;
  display: flex;
  @include paddingY(16px);
}

.itemDescription__list,
.prod__select{
  width: rem(128px);
  @include padding(4px);
}


.itemDescription__list,
.itemDescription__contetnts,
.prod__select,
.select__name{
  @include textStyle(12.003px, 600, $gray-500);
  line-height: 150%;
}

.itemDescription:last-child{
  border-bottom: none;
}

.itemDescription__info{
  @include textStyle(12.003px, 600, $gray-400);
  line-height: 150%;
}

.allergy__info{
  width: rem(432px);
  color: $gray-500;
  font-weight: normal;
}

.SelectWrapper{
  @include flexbox;
  width: rem(560px);
  @include paddingY(16px);
  border-bottom: 1px solid $gray-100;
}

.select__info{
  position: relative;
  width: rem(432px);
  height: rem(84px);
  border: 1px solid $gray-100;
}

.select__count{
  @include flexbox;
}

.select__updown{
  @include paddingY(12px);
  @include paddingX(16px); 
}

.select__name{
  margin-bottom: rem(12px);
}

.select__price{
  @include textStyle(12.003px, 600, $content-color);
  line-height: 150%;
  @include posRightBottom($r: 12px, $b: 12px);
}

.count__btn button{
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.count__btn{
  @include flexbox($items: center);
  width: 84px;
  height: 30px;
  border: 1px solid $gray-200;
}

.count{
  @include textStyle(16px, 600, $black);
  @include marginX(8px);
}

.select__total{
  @include paddingY(28px);
  text-align: end;
}

.select__totalprice{
  margin-bottom: 8px;
}

.select__totalprice,
.login__benefit{
  @include textStyle(16px, 600, $black);
}

.select__totalprice span{
@include textStyle(28.43px, 600, $content-color);
 margin-left: rem(17px);
 line-height: 150%;
}

.select__totalprice::after{
 content: '원';
 color: $content-color;
 @include textStyle(16px, 700, $content-color);
 line-height: 140%;
}

.mileage{
  @include textStyle(10px, normal, $white);
  border-radius: 12px;
  background: $accent-color;
  width: 34px;
  height: 24px;
  @include paddingX(8px);
  @include paddingY(4px);  
  line-height: 160%;
  margin-right: 6px;
}

.productBuy{
  @include flexbox;
  gap: 12px;
}

.prod__heart{
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.prod__alaram{
  border: 0;
  padding: 0;
  background-color: transparent;
}

.prod__cart{
  @include textStyle(16px, 600, $white);
  border: 0;
  @include padding(0);
  cursor: pointer;
  width: rem(424px);
  height: rem(54px);
  background: $primary-color;
  border-radius: 4px;
}

// 제품 디테일 nav 영역
.navTitles{ 
  margin-top: rem(48px); 
  @include flexbox;
  margin-bottom: rem(40px);
}

.navTitles li{
  @include textStyle(16px, 600, $content-color);
  width: rem(263px);
  height: rem(54px);
  text-align: center;
  @include paddingY(16px);
  background: $gray-50;
  border: 1px solid $gray-300;
}

.navTitles li:first-child{
  color: $primary-color;
  border-top: 1px solid $gray-100;
  border-right: 1px solid $gray-100;
  border-left: 1px solid $gray-100;
  border-bottom: none;  
}

.navTitles li:nth-child(2),
.navTitles li:nth-child(3),
.navTitles li:last-child{
  border-left: none;
  cursor: pointer;
}

.review span{
  @include textStyle(12.003px, 400, $content-color);
  padding-left: rem(8px);
}


// 제품 디테일 영역 컨텐츠
.contents__info img{
  width: rem(1050px);
  height: rem(670px);
  margin-bottom: rem(76px);
}

.contents__info p{
  @include textStyle(28.43px, 600, $black);
  text-align: center;  
}

.contents__info figcaption{
  @include textStyle(50.517px, 700, $content-color);
  text-align: center;
  margin-bottom: rem(36px);
  line-height: 140%;
}

.prod__description{
  @include textStyle(16px, normal, $content-color);
  padding-top: rem(28px);
  border-top: 1px solid $gray-100;
  line-height: 160%;
  margin-bottom: rem(96px);
}

// 칼리 체크포인트 영역
.checkPoint{
  position: relative;
  display: inline-block;
  z-index: 10;
  text-align: center;
  width: 100%;
  margin-bottom: rem(63px);
}

.checkPoint span{
  @include textStyle(50.517px, 700, $content-color);
  position: relative;
  line-height: 140%;
  z-index: 40;
  background: $white;
  @include paddingX(16px);
  @include paddingY(0); 
}

.checkPoint::before{
  width: 100%;
  @include posLeftTop($l: 0, $t: 37px);
  content: '';
  height: 1px;
  z-index: -1;
  background: #D9D9D9;
}




