@use "./../utils/" as *;


// 제품 디테일 전체 영역
.product-wrapper{
  width: rem(1050px);
  padding-top: 40px;
  padding-bottom: 40px;
  @include flexbox($justify: center);
  margin: 0 auto; 
}

.productArea{
  position: relative;
}

// 상품 정보
.productDetail{
  @include flexbox($justify: center);
}

.prod__img img{
  width: rem(400px);
  height: rem(514px);
  margin-right: 85px;
}

.prod__buy{
  @include flexbox($direction: column);
  gap: 16px;
  padding-bottom: 20px;
}


.prod__delivery{
  @include textStyle(21.328px, 700, $gray-500);
  line-height: 140%;
}

.head__title,
.prod__price{
  @include textStyle(28.43px, 600, $content-color);
  line-height: 150%;
}

.prod-header__title p{
  @include textStyle(16px, 400, $gray-400);  
  line-height: 160%;  
}

.prod__price span{
  @include textStyle(16px, 700, $content-color);
  padding-left: rem(4px);
  vertical-align: middle;
}

.prod__benefit{
  @include textStyle(16px, 600, $primary-color);
}

// 상품 구매 정보
.itemDescription{
  width: rem(560px);
  border-top: 1px solid $gray-100;
  border-bottom: 1px solid $gray-100;
}

.itemDescription dl{
  border-bottom: 1px solid $gray-100;
  display: flex;
  @include paddingY(16px);
}

.itemDescription__list,
.prod__select{
  width: rem(128px);
  @include padding(4px);
}


.itemDescription__list,
.itemDescription__contetnts,
.prod__select,
.select__name{
  @include textStyle(12.003px, 600, $gray-500);
  line-height: 150%;
}

.itemDescription:last-child{
  border-bottom: none;
}

.itemDescription__info{
  @include textStyle(12.003px, 600, $gray-400);
  line-height: 150%;
}

.allergy__info{
  width: rem(432px);
  color: $gray-500;
  font-weight: normal;
}

.SelectWrapper{
  @include flexbox;
  width: rem(560px);
  @include paddingY(16px);
  border-bottom: 1px solid $gray-100;
}

.select__info{
  position: relative;
  width: rem(432px);
  height: rem(84px);
  border: 1px solid $gray-100;
}

.select__count{
  @include flexbox;
}

.select__updown{
  @include paddingY(12px);
  @include paddingX(16px); 
}

.select__name{
  margin-bottom: rem(12px);
}

.select__price{
  @include textStyle(12.003px, 600, $content-color);
  line-height: 150%;
  @include posRightBottom($r: 12px, $b: 12px);
}

.count__btn button{
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.count__btn{
  @include flexbox($items: center);
  width: 84px;
  height: 30px;
  border: 1px solid $gray-200;
}

.count{
  @include textStyle(16px, 600, $black);
  @include marginX(8px);
}

.select__total{
  @include paddingY(28px);
  text-align: end;
}

.select__totalprice{
  margin-bottom: 8px;
}

.select__totalprice,
.login__benefit{
  @include textStyle(16px, 600, $black);
}

.select__totalprice span{
@include textStyle(28.43px, 600, $content-color);
 margin-left: rem(17px);
 line-height: 150%;
}

.select__totalprice::after{
 content: '원';
 color: $content-color;
 @include textStyle(16px, 700, $content-color);
 line-height: 140%;
}

.mileage{
  @include textStyle(10px, normal, $white);
  border-radius: 12px;
  background: $accent-color;
  width: 34px;
  height: 24px;
  @include paddingX(8px);
  @include paddingY(4px);  
  line-height: 160%;
  margin-right: 6px;
}

.productBuy{
  @include flexbox;
  gap: 12px;
}

.prod__heart{
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.prod__alaram{
  border: 0;
  padding: 0;
  background-color: transparent;
}

.prod__cart{
  @include textStyle(16px, 600, $white);
  border: 0;
  @include padding(0);
  cursor: pointer;
  width: rem(424px);
  height: rem(54px);
  background: $primary-color;
  border-radius: 4px;
}

// 제품 디테일 nav 영역
.navTitles{ 
  margin-top: rem(48px); 
  @include flexbox;
  margin-bottom: rem(40px);
}

.navTitles li{
  @include textStyle(16px, 600, $content-color);
  width: rem(263px);
  height: rem(54px);
  text-align: center;
  @include paddingY(16px);
  background: $gray-50;
  border: 1px solid $gray-300;
}

.navTitles li:first-child{
  color: $primary-color;
  border-top: 1px solid $gray-100;
  border-right: 1px solid $gray-100;
  border-left: 1px solid $gray-100;
  border-bottom: none;  
}

.navTitles li:nth-child(2),
.navTitles li:nth-child(3),
.navTitles li:last-child{
  border-left: none;
  cursor: pointer;
}

.review span{
  @include textStyle(12.003px, 400, $content-color);
  padding-left: rem(8px);
}


// 제품 디테일 영역 컨텐츠
.contents__info img{
  width: rem(1050px);
  height: rem(670px);
  margin-bottom: rem(76px);
}

.contents__info p{
  @include textStyle(28.43px, 600, $black);
  text-align: center;
  line-height: 150%;  
}

.contents__info figcaption{
  @include textStyle(50.517px, 700, $content-color);
  text-align: center;
  margin-bottom: rem(36px);
  line-height: 140%;
}

.prod__description{
  @include textStyle(16px, normal, $content-color);
  padding-top: rem(28px);
  border-top: 1px solid $gray-100;
  line-height: 160%;
  margin-bottom: rem(96px);
}

// 칼리 체크포인트 영역
.checkPoint{
  position: relative;
  display: inline-block;
  z-index: 10;
  text-align: center;
  width: 100%;
  margin-bottom: rem(63px);
}

.checkPoint span{
  @include textStyle(50.517px, 700, $content-color);
  position: relative;
  line-height: 140%;
  z-index: 40;
  background: $white;
  @include paddingX(16px);
  @include paddingY(0); 
}

.tagntang__detail{
  padding-top: 96px;
}

.why__carly {
  width: rem(1050px);
  margin-left: auto;
  margin-right: auto;
}

.why__carlyImg {
  margin-bottom: rem(52px);
  @include wh(100%, 100%);
}

/* 문의하기 */
.qna__main {
  position: relative;
  width: rem(1050px);
  margin-top: 0;
  margin-bottom: rem(72px);
  @include autoMarginX;
}

.qna__title {
  font-size: rem(24px);
  color: $black;
}

.qna__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  @include wh(155px, 45px);
  border: none;
  border-radius: rem(5px);
  background-color: $primary-color;
  color: $white;
  position: absolute;
  top: rem(10px);
  right: rem(10px);
}

.qna__list {
  @include textStyle(12px, normal, $gray-500);
  margin-top: rem(24px);
  margin-bottom: rem(55px);
  margin-left: rem(20px);
  list-style-type: disc;
  line-height: 150%;
}

/* 상품 후기 */
button {
  all: unset;
  text-align: center;
  cursor: pointer;
}

.review__main {
  width: rem(1050px);
  @include autoMarginX;
  margin-top: 0;
  margin-bottom: rem(72px);
  position: relative;
}

.review__title {
  @include textStyle(28px, bold, $content-color);
}

.reviewWrite__btn {
  @include wh(155px, 45px);
  background-color: $primary-color;
  color: $white;
  border: 0;
  border-radius: rem(4px);
  position: absolute;
  right: 0;
}

.review__event {
  margin-top: rem(24px);
  line-height: 150%;
}

.review-event__title {
  font-weight: bold;
  list-style: none;
  margin-top: 30px; 
}

.review-event__content {
  display: block;
  @include textStyle(12px, bold, $gray-300);
  line-height: rem(18px);
  list-style: disc;
  // margin-left: rem(20px);
  margin-top: -20xp; 
}




.review__wrapper {
  margin-top: rem(56px);
}

.review__wrapperTop {
  margin-bottom: rem(16px);
  display: flex;
  justify-content: space-between;
}

.review__count {
  font-size: rem(12px);
  line-height: rem(18px);
  margin-top: rem(3px);
  margin-bottom: rem(3px);
}

.sorting {
  @include textStyle(16px, 600, $content-color);
  height: rem(24px);
  line-height: re,(24px);
  display: flex-box;
}

.sorting-registration {
  color: $gray-300;
}

.sorting-array {
  color: $content-color;
}

.sorting__recommend::after {
  content: '';
  height: 50%;
  border-left: 1px solid $gray-300;
  @include marginX(8px);
}

.notification__container {
  border-top: 1px solid $black;
}
.notification__summary {
  @include paddingX(20px);
  @include paddingY(17px);
  border-bottom: 1px solid $gray-100;
  color: $content-color;
}

.notification {
  @include paddingX(8px);
  height: rem(18px);
  line-height: rem(18px);
  font-size: rem(14px);
  background-color: $gray-100;
  border-radius: 1px;
  margin-right: rem(20px);
}

.notification__title {
  font-weight: 600;
}

.notification__content,
.review__text {
  white-space: pre-line;
  font-size: rem(12px);
}

.notification__content {
  background-color: $gray-50;
  border-bottom: 1px solid $gray-100;
  padding: rem(20px);
  line-height: rem(18px);
}

.review__content {
  padding: rem(20px);
  display: flex;
  font-size: rem(12px);
  border-bottom: 1px solid $gray-100;
}

.review__writerInfo {
  flex: 0 0 225px;
}

.tag__best {
  @include textStyle(14px, bold, $white);
  padding: 0 8px 0 8px;
  height: rem(18px);
  line-height: rem(18px);
  background-color: $secondary-color;
  border-radius: 1px;
  margin-right: rem(8px);
}

.tag__membership {
  @include textStyle(14px, bold, $primary-color);
  padding: 0 8px;
  height: rem(18px);
  line-height: rem(18px);
  background-color: $white;
  border-radius: 1px;
  border: 1px solid $primary-color;
  margin-right: rem(8px);
}

.review__textContainer {
  flex: 1 1 0%;
}

.review__text {
  @include marginY(20px);
}

.review__date,
.review__productName {
  color: $gray-400;
  font-weight: 600;
}

.buttonGroup {
  @include autoMarginX;
  margin-top: rem(16px);
  width: rem(128px);
  display: flex;
  justify-content: space-between;
}

.prev,
.next {
  @include wh(56px, 56px);
  border: 1px solid $gray-100;
  border-radius: 4px;
}

.prev svg {
  transform: rotate(180deg);
  margin: rem(10px);
}

.next img {
  margin: rem(10px);
}

.inquiry__listWrap {
  border-top: 2px solid $content-color;
}

.inquiry__listHeader {
  border-bottom: 2px solid $gray-500;
  @include textStyle(16px, 600, $black);
  font-style: normal;
}

.header__title {
  text-align: center;
}

.inquiry__notice {
  border-bottom: 1px solid $gray-200;
  @include textStyle(16px, 600, $gray-400);
}

.inquiry__info {
  display: inline-flex;
  justify-content: space-between;
}

.inquiry__noticeBox {
  background-color: $gray-100;
  font-size: rem(12px);
  @include paddingX(8px);
  border-radius: 1px;
  margin-right: rem(20px);
}

.inquiry__title {
  display: inline-block;
  @include wh(782px, 58px);
  line-height: rem(58px);
  font-weight: 600;
  padding-left: rem(20px);
}

.customer__post li {
  border-bottom: 1px solid $gray-200;
}

/* 자물쇠문단 */
.inquiry__titleSecret {
  display: inline-block;
  color: $gray-400;
  height: rem(58px);
  line-height: rem(58px);
  padding-right: rem(20px);
}

.inquiry__who {
  display: inline-block;
  width: rem(80px);
  text-align: center;
  @include textStyle(16px, 600, $gray-400);
}

.inquiry__day {
  display: inline-block;
  width: rem(100px);
  text-align: center;
  @include textStyle(16px, 600, $gray-400);
}

.inquiry__answerState {
  width: rem(55px);
  text-align: center;
  @include textStyle(13px, 600, $gray-400);
}

.inquiry__answerComplete {
  width: rem(55px);
  text-align: center;
  @include textStyle(13px, 600, $primary-color);
}

.list__question {
  width: rem(974px);
  display: flex;
  margin-top: rem(20px);
  margin-bottom: rem(40px);
  font-style: normal;
  @include textStyle(12px, 600, $content-color);
  line-height: 150%;
  padding-left: rem(20px);
}

.list__answer {
  display: flex;
  font-style: normal;
  @include textStyle(12px, 600, $content-color);
  line-height: 150%;
  width: rem(481px);
  margin-right: rem(500px);
  padding-left: rem(20px);
}

.list__questionIcon {
  @include wh(24px, 24px);
  margin-right: rem(19px);
}

.list__answerIcon {
  @include wh(24px, 24px);
  margin-right: rem(19px);
}

.list__answerBox p {
  margin-bottom: rem(8px);
}

.list__answerBox {
  @include wh(481px, 216px);
  font-style: normal;
  @include textStyle(12px, 600, $content-color);
  line-height: 150%;  
  margin-bottom: rem(20px);
}

.list__answerDate {
  font-style: normal;
  @include textStyle(12px, 600, $gray-400);
  line-height: 150%;
}
.checkPoint::before{
  width: 100%;
  @include posLeftTop($l: 0, $t: 37px);
  content: '';
  height: 1px;
  z-index: -1;
  background: #D9D9D9;
}





