<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="아쉬워 벌써 12시" />
  <meta name="keywords" content="칼리,베스트,탱탱쫄면,선쿠션,세탁세제" />
  <meta name="description" content="칼리 베스트 상품입니다." />
  <title>칼리 - 베스트</title>
  <link rel="shortcut icon" href="https://res.kurly.com/favicon.ico" type="res/ico" />
  <link rel="preload" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
  <link rel="stylesheet" href="/style/index.css" />
</head>

<body>
  <!-- 헤더 작업 후 반영 -->
  <header>

  </header>


  <main>
    <section>
      <div>
        <span>필터</span>
        <button type="reset">초기화</button>
      </div>
      <button type="button">
        <span>카테고리</span>
        <span>1</span>
        <img src="/assets/product-list/ic-arrow-down.svg" alt="카테고리 펼쳐보기" />
      </button>
      <div>
        <button type="button">
          <span>브랜드</span>
          <img src="/assets/product-list/ic-arrow-up.svg" alt="카테고리 펼쳐보기" />
        </button>
        <ul>
          <li>
            <input type="checkbox" name="gamzabatt" id="gamzabatt" />
            <label for="gamzabatt">
              <span>감자밭</span>
              <span>1</span>
            </label>
          </li>
          <li>
            <input type="checkbox" name="gangnamnoodle" id="gangnamnoodle" />
            <label for="gangnamnoodle">
              <span>강남면옥</span>
              <span>1</span>
            </label>
          </li>
          <li>
            <input type="checkbox" name="kyungnampharm" id="kyungnampharm" />
            <label for="kyungnampharm">
              <span>경남제약</span>
              <span>1</span>
            </label>
          </li>
          <li>
            <input type="checkbox" name="gyeongbokgung" id="gyeongbokgung" />
            <label for="gyeongbokgung">
              <span>경복궁</span>
              <span>1</span>
            </label>
          </li>
          <li>
            <input type="checkbox" name="goraesa" id="goraesa" />
            <label for="goraesa">
              <span>고래사</span>
              <span>1</span>
            </label>
          </li>
          <li>
            <input type="checkbox" name="mandugongbang" id="mandugongbang" />
            <label for="mandugongbang">
              <span>고메공방</span>
              <span>1</span>
            </label>
          </li>
          <li>
            <input type="checkbox" name="goonadiet" id="goonadiet" />
            <label for="goonadiet">
              <span>고온어다이어트</span>
              <span>1</span>
            </label>
          </li>
          <li>
            <input type="checkbox" name="kyotomarble" id="kyotomarble" />
            <label for="kyotomarble">
              <span>교토마블</span>
              <span>1</span>
            </label>
          </li>
          <li>
            <input type="checkbox" name="granolaHouse" id="granolaHouse" />
            <label for="granolaHouse">
              <span>그래놀라 하우스</span>
              <span>1</span>
            </label>
          </li>
          <li>
            <input type="checkbox" name="greetsSignatureLamb" id="greetsSignatureLamb" />
            <label for="greetsSignatureLamb">
              <span>그리츠 시그니처 램</span>
              <span>1</span>
            </label>
          </li>
          <li>
            <button type="button">브랜드 더보기 ></button>
          </li>
        </ul>
      </div>
      <button type="button">
        <span>가격</span>
        <img src="/assets/product-list/ic-arrow-down.svg" alt="카테고리 펼쳐보기" />
      </button>
      <button type="button">
        <span>혜택</span>
        <img src="/assets/product-list/ic-arrow-down.svg" alt="카테고리 펼쳐보기" />
      </button>
      <button type="button">
        <span>유형</span>
        <img src="/assets/product-list/ic-arrow-down.svg" alt="카테고리 펼쳐보기" />
      </button>
      <button type="button">
        <span>특정상품 제외</span>
        <img src="/assets/product-list/ic-arrow-down.svg" alt="카테고리 펼쳐보기" />
      </button>
    </section>

    <ul>
      <li>
        <a href="#">
          추천순
          <img src="./../assets/product-list/ic-help.svg" alt="추천순 도움말" />
        </a>
      </li>
      <li>
        <a href="#">신상품순</a>
      </li>
      <li>
        <a href="#">판매량순</a>
      </li>
      <li>
        <a href="#">혜택순</a>
      </li>
      <li>
        <a href="#">낮은가격순</a>
      </li>
      <li>
        <a href="#">높은가격순</a>
      </li>
    </ul>


    <div>
      <a href="#">«</a>
      <a href="#">‹</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">›</a>
      <a href="#">»</a>
    </div>
  </main>

  <!-- 푸터 작업 후 반영 -->
  <footer></footer>





</body>

</html>