<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="author" content="아쉬워 벌써 12시" />
  <meta name="keywords" content="칼리,풀무원,자연은,탱탱쫄면,쫄면,건면,샛별배송" />
  <meta name="description" content="풀무원 탱탱쫄면 상세 페이지입니다." />
  <title>[풀무원] 탱탱쫄면(4개입)</title>
  <link rel="shortcut icon" href="https://res.kurly.com/favicon.ico" type="res/ico" />
  <link rel="preload" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css" />
  <link rel="stylesheet" href="/style/index.css" />
</head>
<body>
   <h2 class="detail">제품 상세 내용</h2>
   <p class="detail-text">제품 상세 내용 텍스트입니다.</p>
</body>
</html>