@use "./../utils/" as *;

.primary-color {
  color: $primary-color;
}

.gray-500 {
  color: $gray-500;
}

.promotion {
  background: $primary-color;
  width: 100%;
  height: 50px;
  padding: rem(4px);
  font-size: 16px;
  color: $white;
  text-align: center;
  line-height: 42px;
  
  &__wrapper {
    width: rem(1050px);
    margin-left: auto;
    margin-right: auto;
  }

  &__button {
    float: right;
    background: transparent;
    border: 0;
    height: rem(42px);
  }
}

.headerWrapper {
  width: rem(1050px);
  height: rem(147px);
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.logo {
  @include flexbox ($items: center);
  font-size: rem(21px);
  padding-top: rem(44px);
  
  &__img {
    width: rem(82px);
    height: rem(42px);
    padding-right: rem(12px);
  }
  
  &__img__new {
  position: absolute;
  top: rem(44px);
  left: rem(250px);
  }

  &__link__beauty {
    color: $gray-400;
  }
}

.searchForm {
  width: rem(400px);
  height: rem(60px);
  border: 1px solid $primary-color;
  border-radius: 4px;
  padding: rem(12px) rem(20px); 
  position: absolute;
  top: rem(32px);
  left: rem(330px);
  
  &__group {
    @include flexbox ($items: center);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.formInput {
  padding: rem(12px) rem(20px);
  width: rem(360px);
  height: rem(60px);
  @include flexbox ($items: center);

  &__input {
    width: 100%;
    border-style: none;
  }

  &__input:focus {
    outline: none;
  }
}

.searchButton {
  width: rem(36px);
  height: rem(36px);
  border: 0px;
  background: transparent;
}

.memberOnly {
  position: absolute;
  top: rem(12px);
  right: 0;
  &__wrapper {
    @include flexbox;
    font-size: rem(12px);
  }

  &__down {
    width: rem(8px);
    height: rem(5.6px);    
  }
}

.buttons {
  position: absolute;
  bottom: rem(63px);
  right: 0;
}

nav {
  width: rem(1050px);
  height: rem(72px);
  padding: rem(16px) 0;
}

.menu {
  @include flexbox($justify: space-between, $items: center);

  &__button:hover {
    // 색이 왜 파랗지?
    color: $primary-color;
    filter: invert(14%) sepia(52%) saturate(7471%) hue-rotate(282deg) brightness(61%) contrast(113%);
  }

  &__button__img {
    padding-right: rem(12px);
  }

  &__list {
    width: rem(600px);
    @include flexbox($justify: space-between);
    // 적용 안됨...
    margin-left: auto;
    margin-right: auto;
  }

  &__delivery {
    padding: rem(4px) rem(8px);
    border: 1px solid $gray-300;
    border-radius: 16px;
  }
}

// 메뉴 카테고리 일단 숨겨둠
.category {
  width: 0;
  height: 0;
  overflow: hidden;
}

.category__list {
  padding: rem(8px) 0 rem(8px) rem(12px); 
  @include flexbox($items: center);
}

.sprite {
  background: url(/assets/header/ic-menuIcon.svg) no-repeat;
  width: rem(24px);
  height: rem(24px);
  padding-left: rem(8px);
}

.sprite__gift {
  background-position: -5px -4px;
}

.sprite__vegetable {
  background-position: -5px -219px;
}

.sprite__friut {
  background-position: -2px -389px;
}

.sprite__fish {
  background-position: -4px -507px;
}
.sprite__meat {
  background-position: -3px -77px;
}
.sprite__soup {
  background-position: -3px -173px;
}
.sprite__salad {
  background-position: -3px -341px;
}
.sprite__noodles {
  background-position: -4px -244px;
}
.sprite__water {
  background-position: -3px -125px;
}
.sprite__snack {
  background-position: -3px -291px;
}
.sprite__bakery {
  background-position: -3px -50px;
}
.sprite__health {
  background-position: -3px -484px;
}
.sprite__wine {
  background-position: -5px -435px;
}
.sprite__tradition {
  background-position: -5px -27px;
}
.sprite__living {
  background-position: -6px -98px;
}
.sprite__skin {
  background-position: -3px -147px;
}
.sprite__hair {
  background-position: -3px -411px;
}
.sprite__kitchen {
  background-position: -3px -196px;
}
.sprite__appliances {
  background-position: -5px -267px;
}
.sprite__pet {
  background-position: -5px -316px;
}
.sprite__baby {
  background-position: -5px -363px;
}
.sprite__travel {
  background-position: -4px -460px;
}