@use "./../utils/" as *;

.primary-color {
  color: $primary-color;
}

.gray-500 {
  color: $gray-500;
}

header {
  width: rem(1050px);
  height: rem(197px);
  position: relative;
  // 적용 안되네
  margin-left: auto;
  margin-right: auto;
}

.promotion {
  background: $primary-color;
  width: 100vw;
  height: 50px;
  padding: rem(4px);
  font-size: 16px;
  color: $white;
  text-align: center;
  line-height: 42px;

  &__wrapper {
    width: rem(1050px);
  }

  &__button {
    float: right;
    background: transparent;
    border: 0;
    height: rem(42px);
  }
}

.logo {
  @include flexbox ($items: center);
  font-size: rem(21px);
  padding-top: rem(44px);
  
  &__img {
    width: rem(82px);
    height: rem(42px);
    padding-right: rem(12px);
  }
  
    &__img__new {
    position: absolute;
    top : rem(94px);
    left: rem(260px);
    }

    &__link__beauty {
      color: $gray-400;
    }
}

.searchForm {
  position: absolute;
  border: 1px solid $primary-color;
  border-radius: 4px; 
  top: rem(82px);
  left: rem(330px);
  &__group {
    @include flexbox ($items: center);
  }
}

.formInput {
  padding: rem(12px) rem(20px);
  width: rem(400px);
  // 60인데 50px로..
  height: rem(50px);
  @include flexbox ($items: center);

  &__input {
    width: 100%;
    border-style: none;
  }

  &__input:focus {
    outline: none;
  }
}

.searchButton {
  width: rem(36px);
  height: rem(36px);
  border: 0px;
  background: transparent;
}

.memberOnly {
  position: absolute;
  top: rem(62px);
  right: 0;
  &__wrapper {
    @include flexbox;
    font-size: rem(12px);
  }

  &__down {
    width: rem(8px);
    height: rem(5.6px);    
  }
}

.buttons {
  position: absolute;
  bottom: rem(63px);
  right: 0;
}

nav {
  width: rem(1050px);
  height: rem(72px);
  padding: rem(16px) 0;
}

.menu {
  @include flexbox($justify: space-between, $items: center);

  &__button:hover {
    // 색이 왜 파랗지?
    color: $primary-color;
    filter: invert(14%) sepia(52%) saturate(7471%) hue-rotate(282deg) brightness(61%) contrast(113%);
  }

  &__button__img {
    padding-right: rem(12px);
  }

  &__list {
    width: rem(600px);
    @include flexbox($justify: space-between);
    // 적용 안됨...
    margin-left: auto;
    margin-right: auto;
  }

  &__delivery {
    padding: rem(4px) rem(8px);
    border: 1px solid $gray-300;
    border-radius: 16px;
  }
}

